@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #CCBEC3;
    font-family:  'Poppins';
    /* font-size: 1em; */
    
}
nav{
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px;
} 

.list{
    margin-left: 8em;
    font-weight: 500;
    font-size: 16px;
}
ul{ 
    display: flex;
    align-items: center;
    text-align: center;
    gap: 48px;
}
li{
    
    list-style: none;  
    
}
a{
   
    text-decoration: none;
    color: black;
} 
a:focus,a:hover,a:active{
    color: #40457A;
}
.hoverunderline {
    display: inline-block;
    position: relative;
    color: black;
  }
  .contact{
    font-weight: 500;
    font-size: 18px;
  }
  .hoverunderline:after {
    content: '';
    position: absolute;
    width: 45%;
    border-radius: 3px;
    transform: scaleX(0);
    height: 3px ;
    bottom: -2px;
    left: 0;
    background-color: #40457A;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hoverunderline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  } 

 .ticket{
      background-color:  #40457A;
      color: white;
      padding: 0.7em;
      margin-left: 1.5em;
      border-radius: 6px;
      font-weight: 500;
      font-size: 18px;
  } 
  .ticket:hover{
    color: white;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.2);
  }
.contact .hoverunderline{
    color: #40457A;
}